@model List<Practica_Git.Models.Carro>
@{
    ViewBag.Title = "Index";
}
<nav>
    <ul class="menu">
        <li class="current"><a href="/IndexCars/Index" class="home"><img src="/images/home.jpg" alt=""></a></li>
        <li><a href="/IndexCars/About">Detalles</a></li>
        <li type="button" title="Agregar Vehículo" class="btn btn-outline-success p-3 alert-link" id="lblOpenModal" data-toggle="modal" data-target="#exampleModal"><span>Agregar Vehículo</span></li>
    </ul>
    <div class="clear"></div>
</nav>

<div id="slider">
    <div class="slider-block">
        <div class="slider">
            <ul class="items">
                @foreach (Practica_Git.Models.Carro item in Model)
                {
                    <li>
                        <img src="@item.imagen_car" alt="">
                        <div class="banner">
                            <div>
                                <span>@item.nombre_marca</span><strong>@item.nombre_modelo</strong>
                                <p>@item.descripcion_car</p>
                                <a href="/IndexCars/about" class="button">Conocelo</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <a href="#" class="prev"></a> <a href="#" class="next"></a>
    </div>
</div>

<section id="content">
    <div class="block-1 box-1">
        <div>
            <img src="/images/page1-img3.jpg" alt="">
            <p class="text-1">Repair <strong>Services</strong></p>
            <p class="upper">The PSD source files of this template are available for free for the registered members.</p>
            <a href="#" class="button">Read More</a>
            @*<form action="/IndexCars/Index" method="post">
            Grupo de Productos:
            @Html.DropDownList("GrupodeProducto", null, "-Selecciona Grupo-", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
            <br />
            Marca de Productos:
            @Html.DropDownList("MarcadeProducto", null, "-Selecciona Marca-", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
            <br />
            Producto:
            @Html.DropDownList("Producto", null, "-Selecciona Producto", htmlAttributes: new { @class = "form-control" })
            <br />
        </form>*@
        </div>
        <div>
            <img src="/images/page1-img2.jpg" alt="">
            <p class="text-1">Preventive <strong>Maintenance</strong></p>
            <p class="upper">This website template is optimized for 1280X1024 screen res. It is also XHTML & CSS valid.</p>
            <a href="#" class="button">Read More</a>
        </div>
        <div>
            <img src="/images/page1-img3.jpg" alt="">
            <p class="text-1">Repair <strong>Services</strong></p>
            <p class="upper">The PSD source files of this template are available for free for the registered members.</p>
            <a href="#" class="button">Read More</a>
        </div>
        <div class="last">
            <img src="/images/page1-img2.jpg" alt="">
            <p class="text-1">Preventive <strong>Maintenance</strong></p>
            <p class="upper">This website template is optimized for 1280X1024 screen res. It is also XHTML & CSS valid.</p>
            <a href="#" class="button">Read More</a>
            @*<form action="/IndexCars/Index" method="post">
            Grupo de Productos HTML:
            @Html.DropDownList("GrupodeProductohtml", null, "-Selecciona Grupo-", htmlAttributes: new { @class = "form-control" })
            <br />
            Marca de Productos HTML:
            <select class="form-control" id="ddlMarca">
                <option value="">Selecciona Marca</option>
            </select>
            <br />
            Producto HTML:
            <select class="form-control" id="ddlProd">
                <option value="">Selecciona Prod</option>
            </select>
        </form>*@
        </div>
    </div>
    <div class="block-2 wrap pad-2">
        <div class="box-2">
            <h2 class="clr-1">Reviews</h2>
            <div class="comments">
                <div>
                    “Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.”
                    <div class="comments-corner"></div>
                </div>
                <a href="#">dolor hendrerit</a>
            </div>
            <div class="comments">
                <div>
                    “vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.”
                    <div class="comments-corner"></div>
                </div>
                <a href="#">vulputate velit</a>
            </div>
        </div>
        <div class="box-3">
            <h2 class="clr-1">Our Services</h2>
            <div class="wrap">
                <ul class="list-1">
                    <li><a href="#">Consetetur sadipscing</a></li>
                    <li><a href="#">elitr sed diam nonumy</a></li>
                    <li><a href="#">tempor invidunt utabore</a></li>
                    <li><a href="#">et dolore magna aliquyam</a></li>
                    <li><a href="#">erat sed diam voluptua</a></li>
                    <li><a href="#">At vero eos et accusam et</a></li>
                </ul>
                <ul class="list-1 last">
                    <li><a href="#">Takimata sanctus est</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Ipsum dolor sit amet</a></li>
                    <li><a href="#">consetetur sadipscing </a></li>
                    <li><a href="#">sed diam nonumy eirmod</a></li>
                    <li><a href="#">tempor invidunt ut labore</a></li>
                </ul>
            </div>
            <a href="#" class="button-2">Read More</a>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="POST" action="" enctype="multipart/form-data" id="formDatos">
                <div class="modal-header" style="background-color: #72ea72; color: white;">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar un Vehiculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-6">
                            Marca
                            <div class="col-md-10">
                                <input type="text" name="nombre_marca" value="" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-2">
                            Modelo
                            <div class="col-md-10">
                                <input type="text" name="nombre_modelo" value="" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-12">
                            Descripción
                            <div class="col-md-10">
                                <input type="text" name="descripcion_car" value="" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-8">
                            Imagen
                            <div class="col-md-10">
                                <input type="file" name="imagecar" required class="form-control" />
                                <input type="hidden" name="imagen_car" />
                                <input type="hidden" name="id_car" value="0" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <label class="btn btn-outline-success" id="btnGuardar">Guardar</label>
                    <label class="btn btn-danger" id="btnEliminar" style="display:none;">Eliminar</label>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var archivo;
        $(document).ready(function () {
            'use strict';
            console.log('Archivo');
            $('input[type="file"]').change(function (e) {
                archivo = e.target.files[0];
                console.log('The file "' + archivo.name + '" has been selected.');
            });
            $('#btnCerrar').on("click", function () {
                $('#formDatos').trigger("reset");
                $('#exampleModalLabel').text("Agregar un Carro");
                $('#btnEliminar').hide();
            });
        });
        $('#slider').delegate("div", "click", function () {
            $('#exampleModal').modal({
                keyboard: false,
                backdrop: 'static',
                show: true
            });
            $('input[name=id_car]').val($(this).attr("data-id_car"));
            $('input[name=nombre_marca]').val($(this).attr("data-nombre_marca"));
            $('input[name=nombre_modelo]').val($(this).attr("data-nombre_modelo"));
            $('input[name=descripcion_car]').val($(this).attr("data-descripcion_car"));

            $('#btnEliminar').show();
            $('#btnEliminar').attr("data-id_car", $(this).attr("data-id_car"));
            $('#btnEliminar').attr("data-nombre_marca", $(this).attr("data-nombre_marca"));

            $('#exampleModalLabel').text("Editar " + $(this).attr("data-nombre_marca"));
        });
        $('#lblOpenModal').on("click", function () {
            $('#exampleModalLabel').text("Agregar un Producto");
            $('input[name=id_prod]').val('0');
            $('#exampleModal').modal({
                keyboard: false,
                backdrop: 'static',
                show: true
            });
        });
        $('#btnGuardar').on("click", function () {

            if ($('input[name=nombre_marca]').val() !== '' && $('input[name=nombre_modelo]').val() !== '' && $('input[name=descripcion_car]').val() !== '' && $('input[name=imagecar]').val() !== '') {

                var d = {
                    nombre_marca: $('[name=nombre_marca]').val(),
                    nombre_modelo: $('[name=nombre_modelo]').val(),
                    descripcion_car: $('[name=descripcion_car]').val(),
                    id_car: $('input[name=id_car]').val()
                };
                d.imagen_car = !archivo ? $('input[name=imagen_car]').val() : '/images/' + archivo.name;

                var data = new FormData();
                data.append('nombre_marca', d.nombre_marca);
                data.append('nombre_modelo', d.nombre_modelo);
                data.append('descripcion_car', d.descripcion_car);
                data.append('id_car', d.id_car);
                data.append('file', archivo);
                //type: 'POST' solo para < 1.9
                $.ajax({
                    url: '/IndexCars/Create',
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    done: function (data) {
                        console.log(data);
                        var mensaje = '';
                        $('#exampleModal').modal('hide');

                        $('#formDatos').trigger("reset");

                        if (d.id_car !== '0') {
                            $('#divProd_' + d.id_car).remove();
                            mensaje = 'Se ha editado ' + d.nombre_marca + d.nombre_modelo;
                        } else {
                            mensaje = 'Se ha agregado ' + d.nombre_marca + d.nombre_modelo;
                        }
                        var prod = data;
                        var html = '';
                        html += '<div class="col-sm-6 col-lg-4 text-center item mb-4" id="divProd_' + prod.id_car + '" data-idCar="' + prod.id_car + '" data-marca="' + prod.nombre_marca + '" data-modelo="' + prod.nombre_modelo + '" data-descripcion="' + prod.descripcion_car + '" data-imagen="' + prod.imagen_car + '">';
                        html += '   <a href="#"> <img src="' + prod.imagen_car + '" alt="Image"></a>';
                        html += '   <h3 class="text-dark"><a href="#">' + prod.nombre_modelo + '</a></h3>';
                        html += '</div >';
                        $('#divContenido').append(html);
                        Swal.fire({
                            position: 'bottom-end',
                            type: 'success',
                            title: mensaje,
                            showConfirmButton: false,
                            timer: 2500
                        })
                    },
                    fail: function (error) {
                        alert(error.responseText)
                    }
                });
                $('#btnEliminar').hide();
            } else {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Campos Requeridos!',
                    head: '<a href>Why do I have this issue?</a>'
                })
            }
        });
        //$(document).ready(function () {
        $("#GrupodeProductohtml").on("change", function () {
            if ($(this).val() !== '') {
                jQuery.ajax({
                    url: '/IndexCars/GetGrupos?id=' + $(this).val(),
                    data: "",
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'GET',
                    success: function (data) {
                        console.log(data);
                        $('#ddlMarca').empty();
                        $('#ddlMarca').append('<option value="">-Selecciona Marca-</option>');
                        $(data).each(function (index, item) {
                            $('#ddlMarca').append('<option value="' + item.id_marca + '">' + item.nombre_marca + '</option>');
                        });
                    }, error: function (error) {
                        console.log(error.responseText)
                    }
                });
            } else {
                $('#ddlMarca').empty();
                $('#ddlMarca').append('<option value="">-Selecciona Marca-</option>');
            }
        });

        $(document).ready(function () {
            $("#ddlMarca").on("change", function () {
                if ($(this).val() !== '') {
                    jQuery.ajax({
                        url: '/IndexCars/GetMarcas?id=' + $(this).val(),
                        data: "",
                        cache: false,
                        contentType: false,
                        processData: false,
                        method: 'GET',
                        success: function (data) {
                            console.log(data);
                            $('#ddlProd').empty();
                            $('#ddlProd').append('<option value="">-Selecciona Producto-</option>');
                            $(data).each(function (index, item) {
                                $('#ddlProd').append('<option value="' + item.id_prod + '">' + item.nombre_prod + '</option>');
                            });
                        }, error: function (error) {
                            console.log(error.responseText)
                        }
                    });
                } else {
                    $('#ddlProd').empty();
                    $('#ddlProd').append('<option value="">-Selecciona Producto-</option>');
                }
            });
        });
    </script>
}

