@model Beneficia.BusArquitectura.Buss.IndexModelo
<header>
    <div class="hero">
        <a class="navbar-brand" href="/Arquitectura/Index">
            <img src="~/img/logo.png" alt="">
        </a>
        <!--================ Carrousel =================-->
        <div class="owl-carousel owl-theme heroCarousel">
            @foreach (Beneficia.BusArquitectura.Buss.Slider item in Model.slider)
            {
                <div class="item">
                    <div class="hero__slide">
                        if (Model != null)
                        {
                        <img src="~/@item.img_slider" alt="">
                        }

                        <div class="hero__slideContent text-center">
                            @if (Model != null)
                            {
                                <h1>@item.lugar_slider</h1>
                                <p>@item.desc_slider</p>
                            }
                            <a id="btnslide" class="btn btn--leftBorder btn--rightBorder">Details</a>
                            <span class="hero__slideContent--right"></span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--================ End of Carrousel =================-->
    </div>
</header>
<!--================ Sobre la compañia=================-->
<section class="about section-margin mb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="about__img text-center text-md-left mb-5 mb-md-0">
                    <img class="img-fluid" src="~/img/about.png" alt="">
                    <a href="/Arquitectura/About" class="about__img__date text-center">
                        <h3>26</h3>
                        <p>Años <br> de Creatividad</p>
                    </a>
                </div>
            </div>
            <div class="col-md-7 pl-xl-5">
                <div class="section-intro">
                    <h4 class="section-intro__title">sobre nuestra compañia</h4>
                    <h2 class="section-intro__subtitle">Hemos estado creando <br> algo impresionante desde 1992</h2>
                </div>
                <p>
                    La arquitectura moderna tuvo sus inicios en Francia y es la combinación de estilos y corrientes de arquitectura que se han desarrollado en todo el mundo desde el siglo XX. Le Corbusier, uno de los arquitectos más influyentes, Walter Gropius, Alvar Aalto y Ludwig Mies van der Rohe son los máximos exponentes de este movimiento arquitectónico.
                    Se caracteriza por la simplificación de formas, la ausencia de ornamento y la estética de distintas tendencias del arte moderno, como son el cubismo, expresionismo, futurismo, entre algunas otras.
                </p>
                <p>La utilización de vitrales y grandes ventanales, es otra característica fundamental de este tipo de arquitectura. Esto lo podemos ver en la Ópera de Sydney, en Australia, donde se llevan a cabo los conciertos de ópera, ballet y teatro más prestigiosos del mundo.</p>
                <a class="btn btn--rightBorder mt-4" href="#/">Leer más</a>
            </div>
        </div>
    </div>
    <!--================ End Sobre la compañia=================-->
    <hr />
    <!--================ Sección de logros=================-->
    <section class="overview">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                    <div class="media align-items-center overview__single">
                        <span class="overview__single__icon"><i class="ti-crown"></i></span>
                        <div class="media-body">
                            <h3>286+</h3>
                            <p>Projectos realizados</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                    <div class="media align-items-center overview__single">
                        <span class="overview__single__icon"><i class="ti-face-smile"></i></span>
                        <div class="media-body">
                            <h3>942+</h3>
                            <p>Clientes satisfechos</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                    <div class="media align-items-center overview__single">
                        <span class="overview__single__icon"><i class="ti-user"></i></span>
                        <div class="media-body">
                            <h3>263+</h3>
                            <p>Profesionales</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                    <div class="media align-items-center overview__single">
                        <span class="overview__single__icon"><i class="ti-gift"></i></span>
                        <div class="media-body">
                            <h3>2000+</h3>
                            <p>Tazas de café</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Sección de logros=================-->
</section>
<!--================ Portafolio de proyectos =================-->
<section class="portfolio section-margin">
    <div class="container">
        <div class="section-intro">
            <h4 class="section-intro__title">Nuestro portafolio</h4>
            <h2 class="section-intro__subtitle bottom-border">
                Últimos proyectos completados
            </h2>
        </div>

        <div class="row align-items-end pb-md-5 mb-4">
            @{int contador = 2; }
            @foreach (Beneficia.BusArquitectura.Buss.Proyecto item in Model.proyecto)
            {
                if (contador % 2 == 0)
                {
                    <div class="col-md-7 mb-4 mb-md-0">
                        <div class="portfolio__img">
                            <img class="img-fluid" src="~/@item.img_proyecto" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 mb-5 pl-xl-5">
                        <h4 class="section-intro__title left-border">@item.fecha_proyecto</h4>
                        <h2 class="section-intro__subtitle small">@item.nombre_proyecto</h2>
                        <p>
                            @item.desc_proyecto
                        </p>
                        <a class="btn btn--rightBorder mt-3" href="#/">Conoce más</a>
                    </div>
                    contador++;
                }
                else
                {
                    <div class="col-md-5 mb-5 pr-xl-5 order-2 order-md-1">
                        <h4 class="section-intro__title left-border">@item.fecha_proyecto</h4>
                        <h2 class="section-intro__subtitle small">@item.nombre_proyecto</h2>
                        <p>
                            @item.desc_proyecto
                        </p>
                        <a class="btn btn--rightBorder mt-3" href="#/">Conoce más</a>
                    </div>
                    <div class="col-md-7 mb-4 mb-md-0 order-1 order-md-2">
                        <div class="portfolio__img">
                            <img class="img-fluid" src="~/@item.img_proyecto" alt="">
                        </div>
                    </div>
                    contador++;
                }

            }
        </div>
        <div class="text-center pt-2">
            <button class="btn btn--rightBorder btn--leftBorder">Más proyectos</button>
        </div>
    </div>
</section>
<!--================ End Portafolio de proyectos =================-->
<!--================ Estimación de proyecto =================-->
<section class="tips tips-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <h2 class="section-intro__subtitle">
                    Conozca la estimación del proyecto?
                </h2>
                <p>
                    Hay un momento en la vida de cualquier aspirante a astrónomo en el que es hora de comprar ese primer telescopio. Es emocionante pensar en configurar su propia estación de visualización si está en la cubierta
                </p>
            </div>
            <div class="col-lg-5 text-center text-lg-right">
                <a class="btn btn-dark btn--leftBorder btn--rightBorder" href="#/">Obtener estimación</a>
            </div>
        </div>
    </div>
</section>
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

<script>
    $("#btnslide").click(function () {
        $("#heroCarousel").carousel("cycle");
    });
</script>