@model IEnumerable<Cars.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_prod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo.nombre_grup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.nombre_marca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_prod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.nombre_grup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.nombre_marca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_prod }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_prod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_prod })
        </td>
    </tr>
}

</table>
