@model Practica_Git.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.nombre_grup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.nombre_grup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca.nombre_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.nombre_marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_prod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
